
*, *::before, *::after {
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.heading{
    text-transform: capitalize;
}
.box-name{
    text-transform: capitalize;
}
.inner-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.inner-box{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.144);
    padding: 15px;
}

.phone,
.email,
.address{
    margin-bottom: 10px;
}
.box-text a{
    text-decoration: none;
}
.box-text span{
    font-weight: bold;
}
iframe{
    width: 100%;
}



@media (max-width: 1100px){
    .wrap{
        grid-template-columns: 2fr 1fr;
    }

}

@media (max-width: 750px){
    .inner-boxes {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 650px){
    .wrap{
        grid-template-columns: 1fr;
    }
    .inner-boxes {
        grid-template-columns: 1fr 1fr;
    }
    .box2{
        order: -1;
    }
}

@media (max-width: 550px){

    .inner-boxes {
        grid-template-columns: 1fr;
    }
}



